SOMNIA_PRIVATE_KEY=0xyour_private_key_here
CONTRACT_ADDRESS=0x94bf73f7C4f30A6e3E4456C3500D20d6b791eB84
RPC_URL=https://dream-rpc.somnia.network
INDEXER_URL=https://dev.smk.somnia.host/v1/graphql
WS_RPC_URL=wss://api.infra.testnet.somnia.network/ws
CADENCE_SEC=300
