SOMNIA_PRIVATE_KEY=0xyour_private_key_here
CONTRACT_ADDRESS=0x219eE4A6A83E7D9238e43e568720da2b5e5eC1c2
RPC_URL=https://dream-rpc.somnia.network
INDEXER_URL=https://dev.smk.somnia.host/v1/graphql
WS_RPC_URL=wss://api.infra.testnet.somnia.network/ws
CADENCES_SEC=300,900,3600
